.advantages {
  background-color: $color-ghostWhite;
  padding-top: 146px;
  padding-bottom: 91px;

  @include vp-1199 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
  }
}

.advantages__wrapper {
  margin: 0 auto;
  text-align: center;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.advantages__item {
  display: flex;
  gap: 30px;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.advantages__item h3 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: $color-sapphire;
  @include vp-1199 {
    font-size: 20px;
  }

  @include vp-767 {
  }
}

.advantages__list {
  margin: 0 auto;
  margin-top: 51px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  max-width: 1040px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.advantages__item p {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  color: $color-sapphire;
  grid-column: 2/3;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.advantages__number:not(.advantages__number--major) p {
  font-weight: 700;
  font-size: 71px;
  line-height: 1.5;
  background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.advantages__number:not(.advantages__number--major) span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $color-persianBlue;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.advantages__number {
  grid-column: 1/2;
  grid-row: 1/-1;
  text-align: left;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.advantages__text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.advantages__text p {
  width: 80%;
}

.advantages__title {
  margin-bottom: 55px;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.advantages__item--major {
  grid-column: 2/3;
  grid-row: 1/-1;
  align-self: center;
  background-color: $color-resolutionBlue;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 66px;
  padding-bottom: 66px;
  width: 100%;

  @include vp-1199 {
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 60%;
    justify-self: center;
    padding: 45px;
  }

  @include vp-767 {
    width: 100%;
    padding: 50px;
  }
}

.advantages__item--major p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $color-default-white;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.advantages__number--major p {
  font-weight: 700;
  font-size: 74px;
  line-height: 1.5;
  color: $color-default-white;
  text-align: center;
  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.advantages__number--major span {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: $color-default-white;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}
