.coach {
  padding: 30px 30px 91px;

  @include vp-1199 {
    padding-bottom: 100px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.coach__wrapper {
  margin: 0 auto;
  max-width: 1160px;
  position: relative;
  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.coach__title {
  @include vp-1199 {
    text-align: center;
  }

  @include vp-767 {
  }
}

.coach__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 48px;
  width: 100%;

  @include vp-1199 {
    padding-top: 31px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 30px;
    justify-content: center;
  }

  @include vp-767 {
  }
}

.coach__item {
  flex: 0 0 20%;
  position: relative;
  aspect-ratio: 260/294;

  @include vp-1199 {
    flex: 0 0 45%;
    aspect-ratio: 268/294;
  }

  @include vp-767 {
    flex: 0 0 100%;
    aspect-ratio: 226/274;
  }
}

// .coach__item--nodisplay {
//   display: none;
// }

.coach__item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: $color-default-white;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.coach__pagination {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

// .coach__item--nodisplaytablet {
//   @include vp-1199 {
//     display: none;
//   }
// }

// .coach__item--nodisplaymobile {
//   @include vp-767 {
//     display: none;
//   }
// }
