.video {
  width: 100%;
  display: flex;
  justify-content: center;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}

.video__content {
  background: url("../../img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  @include vp-1199 {
  }

  @include vp-767 {
    width: 100%;
  }
}

.video__content::before {
  content: "";
  background-image: url("../../img/svg/button-play.svg");
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;

  @include vp-1199 {
  }

  @include vp-767 {
  }
}
